$font-size: 28rpx;
$primary-color: #54d339;
$blue-color: #409eff;
$red-color: #8B0000;
$gray-color: #CFCFCF;

/* 字体定义规范 */
$font_samll:12Px;
$font_medium_s:14Px;
$font_medium:16Px;
$font_large:18Px;

